// Header
// ======
#index h1 {
  text-shadow: 0px 1px 1px #4d4d4d;
  font-size: 120pt;
  color: #333;
}

// Links
// =====
#index a {
  color: #333;
  text-decoration: none;
  font-size: 24pt;
  margin: 20px 0;
  display: block;
  &:hover {
    color: $highlight-color;
  }
}
