.panel
  %h1 About
  %p
    Chaplin is an architecture for JavaScript applications using the
    Backbone.js library. Chaplin addresses Backbone’s limitations by providing
    a lightweight and flexible structure that features well-proven design
    patterns and best practices.

.timestamp= @timestamp
.id= @id
