.panel
  %h1 Getting Started
  %p
    Chaplin empowers you to quickly develop scalable single-page
    web applications; allowing you to focus on designing and
    developing the underlying functionality in your web application.

.timestamp= @timestamp
.id= @id
